USE [Centripetus]
GO
/****** Object:  StoredProcedure [dbo].[sp_CHOP_IMPACT_BIRTHINFO]    Script Date: 5/26/2021 9:57:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
PENDING IMPORT ID LEGEND
	0 = IMPORT SUCCESSFUL
	1 = SOURCE RECORD WAS UPDATED AND WAITING FOR DATA UPLOAD TO DESTINATION DB
	2 = NO MATCHING CASE EXISTS IN DESTINATION DB (CASES.EMREventID)
	3 = ERROR UPDATING DESTINATION RECORD
	4 = ERROR INSERTING DESTINATION RECORD
*/

ALTER   PROCEDURE [dbo].[sp_CHOP_IMPACT_BIRTHINFO] 

AS

set nocount on

UPDATE CATH_TRGT
        SET 
			CATH_TRGT.Premature=CATH_SRC.PREMATURE,
			CATH_TRGT.GESTAGEWEEKS=CATH_SRC.GESTAGEWEEKS,
			CATH_TRGT.BIRTHWTKG=CATH_SRC.BIRTHWTKG,
			CATH_TRGT.BirthWtKnown=case when CATH_SRC.BIRTHWTKG is not null then 3303 else null end,
			CATH_TRGT.GestAgeKnown=case when CATH_SRC.GESTAGEWEEKS is not null then 3303 else null end,
            CreateDate=getdate(),
			LastUpdate=getdate(),
			UpdatedBy='CHOP_AUTOMATION' --select *
FROM [dbo].[CHOP_IMPACT_CATHPATANATOMY] CATH_SRC INNER JOIN Demographics D ON D.MedRecN = CATH_SRC.PAT_MRN_ID 
                                                 INNER JOIN PatAnatomy CATH_TRGT on D.PatID = CATH_TRGT.PatID
WHERE (CATH_TRGT.GESTAGEWEEKS IS NULL AND NOT (CATH_SRC.GESTAGEWEEKS IS NULL))
	OR (CATH_TRGT.Premature IS NULL AND NOT (CATH_SRC.Premature IS NULL))
	OR (CATH_TRGT.BirthWtKg IS NULL AND NOT (CATH_SRC.BirthWtKg IS NULL))
